:root {
    --primary-color: rgb(139, 194, 181);
    --secondary-color: #b6abd8dc;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.navbar-brand {
  color: var(--primary-color);
}
.nav-link {
  color: var(--primary-color);
}


.nav-link active {
  color: var(--primary-color);
}

html, body {
  background-color: #212529;
}

body {
  margin: 100px auto;
  max-width: 1000px
}
h1, h2, h3 {
    text-align: center;
    margin: 0px;
    color: whitesmoke;
}

h2 {
  font-size: 50px;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 20px;
 color: var(--primary-color);
}

h4 {
 font-size: 30px; 
 text-align: center;
   color: whitesmoke;
}

.homepage-link:hover{
  color: white;
}

.navigation-links {
    margin-top: 50px;
    display: flex;
    justify-content:center;
}

.navigation-links a {
  text-align: center;
  margin-bottom: 50px;
    border-radius: 4px;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation-links a:hover {
  color: var(--secondary-color);
}

.contact-link {
 border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
}

.about-link {
  border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
    font-weight: bold;
}

.work-link {
border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
}

.blog-link {
border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
    font-weight: bold;
}

.she-letters-link:hover {
  color: var(--secondary-color);
}

.she-letters-link {
    display:inline-flex;
    margin-top: 30px;
     border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    left: 10px;
}

.weather-app-link:hover {
  color: var(--secondary-color);
}

.weather-app-link {
  display:inline-flex;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    left: 10px;
}
.about-paragraph {
   margin-top: 70px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    display: block;
    color: whitesmoke;
}

p {margin: 20px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    display: block;
    color: whitesmoke;

}

.email-link {
      display: flex;
    justify-content: center;
    color: rgba(113, 167, 154, 0.884);
    font-size: 28px;
    text-decoration: none;
    
}

.email-link:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.homepage-link {
  color: rgba(113, 167, 154, 0.884);
    text-align: center;
    display: block;
}

.homepage-link :visited {
  color: var(--primary-color);
}

a:-webkit-any-link {
    cursor: pointer;
}

.work-container {
  margin-top: 40px;
}

.she-letters-button:hover {
  color: black;
}

.she-letters-button {
    display:inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left:25%;
  margin-right: 25%;
  margin-bottom: 50px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
}

.weather-app-button:hover {
  color: black;
}

.weather-app-button {
    display:inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left:25%;
  margin-right: 25%;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
}

.article-container {
  color:whitesmoke;
}

